{{#with order}}
  {{#>layout registryEmail=registryEmail}}
    <mj-wrapper border="2px solid #091f2f" background-color="#f2f2f2" padding="10px 0">
      <mj-section padding="0">
        <mj-column>
          <mj-text font-size="20px" font-weight="bold" font-family="Montserrat, sans-serif" text-transform="uppercase" padding="0 25px">{{heading}}</mj-text>

          <mj-divider padding="0 25px"></mj-divider>
        </mj-column>
      </mj-section>

      {{#if aboveOrderText}}
        <mj-section padding="0">
          <mj-column>
            {{#each aboveOrderText}}
              <mj-text padding="25px 25px 0" line-height="1.5">{{.}}</mj-text>
            {{/each}}
          </mj-column>
        </mj-section>
      {{/if}}

      <mj-section padding="10px 0">
        <mj-column vertical-align="top">
          <mj-text>
            <b>Date:</b> <i>{{orderDate}}</i><br/>
            <b>Order #:</b> <i>{{orderId}}</i>
          </mj-text>
        </mj-column>

        <mj-column>
          <mj-text>
            <b>Shipping information:</b><br/>
            <i>{{shippingName}}<br/>
            {{#if shippingCompanyName}}{{shippingCompanyName}}<br/>{{/if}}
            {{shippingAddress1}}<br/>
            {{#if shippingAddress2}}{{shippingAddress2}}<br/>{{/if}}
            {{shippingCity}}, {{shippingState}} {{shippingZip}}</i>
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section padding="10px 0">
        <mj-column>
          <mj-text padding="0 25px" font-size="18px">
            <b>Order:</b>
          </mj-text>

          <mj-table padding="0">
            {{#each items}}
            <tr>
              <td style="padding: 0 25px">
                <i>{{quantity}} × {{description}}</i></td>
              <td style="padding: 0 25px; white-space: nowrap;" align="right"><b>{{formatCents cost}}</b></td>
            </tr>
            {{/each}}

            {{#if subtotal}}
            <tr>
              <td style="padding: 0 25px"><i>Subtotal</i></td>
              <td style="padding: 0 25px; white-space: nowrap;" align="right"><b>{{formatCents subtotal}}</b></td>
            </tr>
            {{/if}}
            <tr>
              <td style="padding: 0 25px"><i>Card service fee*</i></td>
              <td style="padding: 0 25px; white-space: nowrap;" align="right"><b>{{formatCents serviceFee}}</b></td>
            </tr>
            <tr>
              <td style="background-color: #d2d2d2; padding: 5px 25px; font: 700 20px Montserrat, sans-serif; text-transform: uppercase;">Total</td>
              <td style="background-color: #d2d2d2; padding: 5px 25px; font: 700 20px Montserrat, sans-serif; text-transform: uppercase; white-space: nowrap;" align="right"><b>{{formatCents total}}</b></td>
            </tr>
          </mj-table>

          {{#each belowOrderText}}
            <mj-text padding="25px 25px 0" line-height="1.5">{{.}}</mj-text>
          {{/each}}

          <mj-text padding="25px 25px 0" font-size="13px" line-height="1.5">
            <i>* You are charged an extra service fee of not more than
            {{formatCents fixedFee}} plus {{formatPercentage
            percentageFee}}. This fee goes directly to a third party to
            pay for the cost of card processing. Learn more about <a
            href="{{serviceFeeUri}}">card service fees</a> at the City
            of Boston.</i>
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-wrapper>
  {{/layout}}
{{/with}}
